:root {
  --violetMainColor: #323264;
  --violetAltColor: #46466e;
  --violetSoftColor: #686887;

  --pinkAccentColor: #f0145a;

  --blueMainColor: #24a3ff;
  --blueHoverColor: #0085ff;
  --blueActiveColor: #006ccf;

  --greyBgColor: #f5f5fa;
  --greyBgAltColor: #ededf7;
  --greyTextColor: #b3b3ba;
  --greySeparatorColor: #e6e6f0;

  --blackTextColor: #000000;
  --whiteTextColor: #ffffff;

  --partner-height: 120px;
}

.greyFont {
  color: var(--greyTextColor);
}
.boldFont {
  font-weight: 700;
}
.uppercaseFont {
  text-transform: uppercase;
}
.container {
  width: 100%;
  max-width: calc(100% - 60px);
  padding: 0;
  margin: 0 auto;
}
/* .container.slim {
  padding: 30px 30px;
} */
.container.small {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
.inner {
  width: 100%;
  max-width: 335px;
  padding: 30px 10px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.pb30 {
  padding-bottom: 30px;
}
.pt30 {
  padding-top: 30px;
}

.pb60 {
  padding-bottom: 60px;
}
.pt60 {
  padding-top: 60px;
}
.colorTextWhite {
  color: var(--whiteTextColor);
}
.bgGradient {
  background: var(--bgGradient);
  color: var(--whiteTextColor);
  /* z-index: -3; */
  position: relative;
  border-radius: 0px 0px 12px 12px;
}

.bgGradientWrap {
  position: relative;
  margin-bottom: 20px;
}

.bgGradientWrap::after {
  content: "";
  background-color: #e7e7f2;
  width: calc(100% - 40px);
  height: 30px;
  border-radius: 0px 0px 12px 12px;
  z-index: -2;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.bgGradient::after {
  content: "";
  background-color: #cacadb;
  width: calc(100% - 20px);
  height: 20px;
  border-radius: 0px 0px 12px 12px;
  z-index: -1;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.gradientTitle {
  font-size: 30px;
  line-height: 1.23;
  font-weight: 700;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.button {
  padding: 18px;
  color: var(--whiteTextColor);

  border: 0;
  border-radius: 12px;
  background: var(--blueMainColor);
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}

.button:hover,
.button:focus {
  background: var(--blueHoverColor);
}

.button:active {
  background: var(--blueActiveColor);
}
/* --------- SERVICES --------- */

.servicesCardWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* width: 100%; */
  justify-content: center;
}

.servicesCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.iconWrap {
  background-color: var(--whiteTextColor);
  border-radius: 24px;
  width: 92px;
  height: 92px;
  padding: 14px;
}

.iconWrap img {
  max-width: 100%;
}

.servicesCard .iconWrap {
  margin-bottom: 15px;
}

.servicesCardTitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: var(--blueMainColor);
}
.servicesCardDescription {
  font-size: 16px;
  line-height: 1.6;
}

.servicesCard a:hover {
  color: var(--pinkAccentColor);
}

/* --------- HOME --------- */
.homeLink {
  display: flex;
  gap: 4.5px;
  align-items: flex-start;
  padding-bottom: 5px;

  text-transform: uppercase;
  color: var(--blueMainColor);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
}

.homeLink .arrow svg {
  width: 100%;
  height: 11px;
}
.homeLink .arrow path {
  stroke-width: 3;
}

.homeLink:hover,
.homeLink:focus,
.publicationCardTitle:hover,
.publicationCardTitle:focus {
  color: var(--pinkAccentColor);
}

.homeLink:hover .arrow path,
.homeLink:focus .arrow path {
  stroke: var(--pinkAccentColor);
}
.cardSliderHome:hover .homeLink,
.cardSliderHome:hover .homeLink path {
  color: var(--pinkAccentColor);
  stroke: var(--pinkAccentColor);
}

.publication h2,
.service h2 {
  margin-bottom: 30px;
}

/*  --------- PUBLICATIONS --------- */
.publicationCardWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.publicationCard {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  background-color: var(--whiteTextColor);
  border-radius: 8px;
  overflow: hidden;
}

.publicationCardContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.publicationCardTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--blueMainColor);
}
.publicationCardDescription {
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--blackTextColor);
}
.publicationCard .greyFont {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 4px solid var(--greySeparatorColor);
}

.publicationCard img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

/* .publicationBorder {
  margin-bottom: 30px;
  border-bottom: 2px solid var(--greySeparatorColor);
  width: 100%;
  height: 2px;
} */

.publication {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--greySeparatorColor);
}
/* --------- PARTNERS --------- */

.partnersTitle {
  font-size: 14px;
  color: var(--violetMainColor);
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.partnersWrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-height: calc(var(--partner-height) * 6);
  overflow-x: hidden;
  overflow-y: auto;
}

.partnersWrap .partner {
  width: 100%;
  height: var(--partner-height);
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.partnersWrap .partner img {
  max-width: 50%;
  max-height: 100%;
}

.partnersWrap .partner.hillel {
  background-color: #1c4280;
}
.partnersWrap .partner.wannaBiz {
  background-color: #143646;
}
.partnersWrap .partner.tapgerine {
  background-color: #f48b30;
}
.partnersWrap .partner.dlook {
  background-color: #9e4dc3;
}
.partnersWrap .partner.orangear {
  background-color: #fd9339;
}
.partnersWrap .partner.adtellige {
  background-color: #e2e2e4;
}
.partnersWrap .partner.clickky {
  background-color: #c71c36;
}
.partnersWrap .partner.ecoLeasing {
  background-color: #dcf3f9;
}
.partnersWrap .partner.tapgerine {
  background-color: #f48b30;
}
.partnersWrap .partner.infaTek {
  background-color: #eaeaea;
}
.partnersWrap .partner.cityPack {
  background-color: #282240;
}
.partnersWrap .partner.artPrint {
  background-color: #1d4568;
}
.partnersWrap .partner.ultimate {
  background-color: #000000;
}

/* --------- SLICK --------- */

/* dots style */
.slick-dots li button:before {
  font-family: "slick";
  font-size: 16px;
  line-height: 20px;

  width: 16px;
  height: 16px;

  opacity: 0.2;
  color: var(--blueMainColor);
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: var(--blueMainColor);
}

/* --------- MEDIA --------- */
@media screen and (min-width: 433px) {
  .partnersWrap .partner {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .servicesCardWrap {
    gap: 60px;
  }
  .servicesCard {
    max-width: 44%;
    /* max-width: calc(100% / 2); */
  }
  .publicationCard {
    max-width: 47%;
  }
  .publicationCard:last-child {
    max-width: 100%;
  }
  .partnersWrap .partner {
    width: 33.33%;
  }
}

@media screen and (min-width: 992px) {
  .servicesCard {
    max-width: 28%;
    /* max-width: calc(100% / 3); */
  }
  .publicationCard {
    max-width: 30%;
  }
  .publicationCard:last-child {
    max-width: 30%;
  }
  .partnersWrap .partner {
    width: 25%;
  }
}

@media screen and (min-width: 1720px) {
  .partnersWrap {
    max-width: 1720px;
    border-radius: 12px;
    overflow: hidden;
  }
  .partners {
    margin-bottom: 60px;
  }
}
