:root {
  --violetMainColor: #323264;
  --violetAltColor: #46466e;
  --violetSoftColor: #686887;

  --pinkAccentColor: #f0145a;

  --blueMainColor: #24a3ff;
  --blueHoverColor: #0085ff;
  --blueActiveColor: #006ccf;

  --greyBgColor: #f5f5fa;
  --greyBgAltColor: #ededf7;
  --greyTextColor: #b3b3ba;
  --greySeparatorColor: #e6e6f0;

  --blackTextColor: #000000;
  --whiteTextColor: #ffffff;
}

.footerBg {
  background-color: var(--greyBgColor);
  padding: 30px 0;
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  text-align: center;
  align-items: center;
  justify-items: center;
  row-gap: 10px;
}
footer .addressLink {
  margin-bottom: 11px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 700;
  color: var(--blueMainColor);
}
footer .facebookLink svg {
  width: 38px;
  height: 38px;
}
footer .tel {
  /* margin-bottom: 20px; */
  color: var(--violetAltColor);
}
footer .mail {
  font-weight: 700;
  color: var(--blueMainColor);
}
footer .copyright {
  text-transform: uppercase;
  color: var(--greyTextColor);
}
footer .addressWrap,
footer .contactsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer .addressLink:hover,
footer .addressLink:focus,
footer .mail:hover,
footer .mail:focus {
  color: var(--pinkAccentColor);
}
