:root {
  --violetMainColor: #323264;
  --violetAltColor: #46466e;
  --violetSoftColor: #686887;

  --pinkAccentColor: #f0145a;

  --blueMainColor: #24a3ff;
  --blueHoverColor: #0085ff;
  --blueActiveColor: #006ccf;

  --greyBgColor: #f5f5fa;
  --greyBgAltColor: #ededf7;
  --greyTextColor: #b3b3ba;
  --greySeparatorColor: #e6e6f0;

  --blackTextColor: #000000;
  --whiteTextColor: #ffffff;

 
}

.hero {
  position: relative;
  aspect-ratio: 1/1.6;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: url("/images/symbol.png") no-repeat center/cover;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

.heroTitle {
  font-size: 38px;
}

/* --------- EXPERIENCE/BOOTSTRAP --------- */

.experience .nav-link {
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--greyTextColor);
  text-decoration: none;
  transition: none;
}
.experience .nav-link:focus,
.experience .nav-link:hover {
  color: var(--pinkAccentColor);
}
.experience .nav-pills .nav-link.active,
.experience .nav-pills .show > .nav-link {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-color: transparent;
}

.experience {
  margin: 0 auto;
}
.experience .nav {
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 30px;
  margin-bottom: 30px;
  flex-direction: row;
  gap: 30px;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.experience .d-flex {
  flex-direction: column;
  align-items: center;
}
.experience .tab-pane {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.fade:not(.show) {
  opacity: auto;
  display: none;
}

.experience .tab-pane span {
  font-weight: 700;
  font-size: 20px;
}

.experience .tab-pane p {
  /* margin-top: 30px; */
  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
}

.btnScroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.btnScroll:hover circle,
.btnScroll:focus circle,
.btnScroll:hover path,
.btnScroll:focus path {
  stroke: var(--pinkAccentColor);
}
.slick-initialized .cardSliderHome {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);

  background-color: var(--greyBgColor);
  border-radius: 12px;
  position: relative;

  margin: 5px;
}
.cardSliderHomeImg {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.cardSliderHomeContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;

  padding: 30px;
}

.memberName {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cardSliderLink {
  width: 100%;
  height: 100%;
  position: absolute;
}

.cardSlideHomeTitle {
  margin-bottom: 25px;
}


@media screen and (min-width: 433px) {
  .cardSliderHome {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    aspect-ratio: 1/1.33;
  }
  .experience .nav {
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
  .experience .nav-link {
    font-size: 38px;
  }
  .experience .tab-pane span {
    font-size: 30px;
  }
}

@media screen and (min-width: 992px) {
  .hero {
    aspect-ratio: initial;
    min-height: 100vh;
    background-size: contain;
  }
  .experience .d-flex {
    flex-direction: row;
    height: 320px;
  }
  .nav-link {
    font-size: 38px;
  }
  .experience .nav {
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    padding-right: 60px;
    margin-right: 60px;
    flex-basis: 50%;
    align-items: flex-end;
    justify-content: center;
    height: max-content;

    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    flex-direction: column;
    max-width: none;
    overflow-y: initial;
    overflow-x: initial;
  }

  .cardSliderHome {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
  }
  .cardSliderHomeImg {
    grid-column: 1/2;
    grid-row: 1/2;

    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px 0px 0px 12px;
  }

  .cardSliderHomeContent {
    grid-column: 2/3;
    grid-row: 1/2;
  }

}

@media screen and (min-width: 1360px) {
  .experience .nav {
    min-width: 40%;
  }
}


@media screen and (min-width: 1920px) {
}
