:root {
  --violetMainColor: #323264;
  --violetAltColor: #46466e;
  --violetSoftColor: #686887;

  --pinkAccentColor: #f0145a;

  --blueMainColor: #24a3ff;
  --blueHoverColor: #0085ff;
  --blueActiveColor: #006ccf;

  --greyBgColor: #f5f5fa;
  --greyBgAltColor: #ededf7;
  --greyTextColor: #b3b3ba;
  --greySeparatorColor: #e6e6f0;

  --blackTextColor: #000000;
  --whiteTextColor: #ffffff;
}

.eCommerce {
  display: flex;
  flex-direction: column;
  gap: 28px;

  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 30px 0;
  text-align: center;
}
.eCommerce .iconWrap,
.eCommerce .gradientTitle {
  margin: 0 auto;
}

.eCommerce button {
  max-width: fit-content;
  margin: 0 auto;
}

.eCommerceList {
  padding: 30px 0 60px 0;
}
.eCommerceListTitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.eCommerceList .list {
  padding-top: 30px;
  padding-left: 15px;
}

.eCommerceList .list li {
  margin-bottom: 15px;
}

.eCommerceList .list li {
  list-style: disc;
  color: var(--pinkAccentColor);
}
.eCommerceList .list li span {
  color: var(--whiteTextColor);
}
.footerBg {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .eCommerce {
    padding: 60px 0;
  }
  .eCommerceList .list {
    columns: 2;
    column-gap: 60px;
  }
}
